In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=50)
lngs = np.random.uniform(low=-180.000, high=180.000, size=50)
lat_lngs = zip(lats, lngs)
coordinates = list(lat_lngs)

In [3]:
from citipy import citipy

In [4]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

37

In [5]:
# 6.2.6 Get city weather data.
# Import the time library and the datetime module from the datetime library
import time
from datetime import datetime

# Import the API key.
from config import weather_api_key

# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [6]:
# Create an empty list to hold the weather data.
city_data = []
set_count = 1
record_count = 1

# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(30)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

    # If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | changji
Processing Record 2 of Set 1 | ushuaia
Processing Record 3 of Set 1 | temaraia
City not found. Skipping...
Processing Record 4 of Set 1 | cabo san lucas
Processing Record 5 of Set 1 | puerto ayora
Processing Record 6 of Set 1 | bethel
Processing Record 7 of Set 1 | buala
Processing Record 8 of Set 1 | umzimvubu
City not found. Skipping...
Processing Record 9 of Set 1 | sarakhs
Processing Record 10 of Set 1 | manakara
Processing Record 11 of Set 1 | castro
Processing Record 12 of Set 1 | mataura
Processing Record 13 of Set 1 | maldonado
Processing Record 14 of Set 1 | riviera beach
Processing Record 15 of Set 1 | rikitea
Processing Record 16 of Set 1 | faanui
Processing Record 17 of Set 1 | san jose
Processing Record 18 of Set 1 | fare
Processing Record 19 of Set 1 | albany
Processing Record 20 of Set 1 | alofi
Processing Record 21 of Set 1 | hwange
Processing Record 22 of Set 1 | busselton
Processing Record 23 of Set 1 | tuktoyaktuk
Processing Record 24 of Set 1 | punta arenas
Processing Record 25 of Set 1 | hobart
Processing Record 26 of Set 1 | esperance
Processing Record 27 of Set 1 | severo-kurilsk
Processing Record 28 of Set 1 | itacarambi
Processing Record 29 of Set 1 | lolua
City not found. Skipping...
Processing Record 30 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 31 of Set 1 | kapaa
Processing Record 32 of Set 1 | saint-philippe
Processing Record 33 of Set 1 | yar-sale
Processing Record 34 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 35 of Set 1 | bollnas
Processing Record 36 of Set 1 | cherskiy
Processing Record 37 of Set 1 | hilo
-----------------------------
Data Retrieval Complete
-----------------------------

In [7]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Changji,44.0167,87.3167,-14.01,84,0,2.24,CN,2023-01-23 21:15:54
1,Ushuaia,-54.8000,-68.3000,58.23,76,100,5.12,AR,2023-01-23 21:12:23
2,Cabo San Lucas,22.8909,-109.9124,81.70,60,40,18.41,MX,2023-01-23 21:03:27
3,Puerto Ayora,-0.7393,-90.3518,80.56,92,37,11.01,EC,2023-01-23 21:15:55
4,Bethel,41.3712,-73.4140,35.76,84,100,9.22,US,2023-01-23 21:11:48
5,Buala,-8.1450,159.5921,77.92,88,100,5.55,SB,2023-01-23 21:15:56
6,Sarakhs,36.5449,61.1577,28.09,56,61,5.64,IR,2023-01-23 21:15:56
7,Manakara,-22.1333,48.0167,72.43,97,100,3.56,MG,2023-01-23 21:15:57
8,Castro,-24.7911,-50.0119,69.62,83,94,2.17,BR,2023-01-23 21:11:13
9,Mataura,-46.1927,168.8643,55.80,56,74,0.45,NZ,2023-01-23 21:15:57

In [11]:
# Reorder columns
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
new_city_data_df = city_data_df[new_column_order]
new_city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Changji,CN,2023-01-23 21:15:54,44.0167,87.3167,-14.01,84,0,2.24
1,Ushuaia,AR,2023-01-23 21:12:23,-54.8000,-68.3000,58.23,76,100,5.12
2,Cabo San Lucas,MX,2023-01-23 21:03:27,22.8909,-109.9124,81.70,60,40,18.41
3,Puerto Ayora,EC,2023-01-23 21:15:55,-0.7393,-90.3518,80.56,92,37,11.01
4,Bethel,US,2023-01-23 21:11:48,41.3712,-73.4140,35.76,84,100,9.22
5,Buala,SB,2023-01-23 21:15:56,-8.1450,159.5921,77.92,88,100,5.55
6,Sarakhs,IR,2023-01-23 21:15:56,36.5449,61.1577,28.09,56,61,5.64
7,Manakara,MG,2023-01-23 21:15:57,-22.1333,48.0167,72.43,97,100,3.56
8,Castro,BR,2023-01-23 21:11:13,-24.7911,-50.0119,69.62,83,94,2.17
9,Mataura,NZ,2023-01-23 21:15:57,-46.1927,168.8643,55.80,56,74,0.45
10,Maldonado,UY,2023-01-23 21:15:58,-34.6667,-54.9167,76.39,36,0,9.69
11,Riviera Beach,US,2023-01-23 21:15:58,26.7753,-80.0581,76.06,70,75,14.97
12,Rikitea,PF,2023-01-23 21:11:14,-23.1203,-134.9692,79.09,78,37,18.92
13,Faanui,PF,2023-01-23 21:15:59,-16.4833,-151.7500,78.15,79,100,14.97
14,San Jose,US,2023-01-23 21:10:20,37.3394,-121.8950,61.05,31,20,14.97
15,Fare,PF,2023-01-23 21:15:59,-16.7000,-151.0167,77.65,78,100,13.09
16,Albany,US,2023-01-23 21:12:14,42.6001,-73.9662,33.03,89,100,14.00
17,Alofi,NU,2023-01-23 21:16:00,-19.0595,-169.9187,84.09,74,75,8.05
18,Hwange,ZW,2023-01-23 21:16:00,-18.3693,26.5019,67.21,97,100,3.98
19,Busselton,AU,2023-01-23 21:15:40,-33.6500,115.3333,63.91,84,0,16.93
20,Tuktoyaktuk,CA,2023-01-23 21:16:02,69.4541,-133.0374,-11.90,95,100,6.82
21,Punta Arenas,CL,2023-01-23 21:11:28,-53.1500,-70.9167,57.31,64,40,28.77
22,Hobart,AU,2023-01-23 21:15:21,-42.8794,147.3294,61.27,93,0,9.22
23,Esperance,AU,2023-01-23 21:08:59,-33.8667,121.9000,62.76,68,0,9.44
24,Severo-Kurilsk,RU,2023-01-23 21:11:37,50.6789,156.1250,19.29,70,89,27.29
25,Itacarambi,BR,2023-01-23 21:16:03,-15.1022,-44.0919,74.75,91,98,2.39
26,Kapaa,US,2023-01-23 21:16:04,22.0752,-159.3190,80.92,73,40,5.75
27,Saint-Philippe,RE,2023-01-23 21:16:04,-21.3585,55.7679,72.99,88,100,6.15
28,Yar-Sale,RU,2023-01-23 21:16:05,66.8333,70.8333,-9.29,100,90,8.99
29,Bollnas,SE,2023-01-23 21:16:05,61.3482,16.3946,33.67,90,96,12.30
30,Cherskiy,RU,2023-01-23 21:08:09,68.7500,161.3000,-16.13,94,100,5.44
31,Hilo,US,2023-01-23 21:16:06,19.7297,-155.0900,83.28,88,75,9.22

In [ ]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
new_city_data_df.to_csv(output_data_file, index_label="City_ID")